# IDE integrations
/.cache/
/.idea/
/.vs/
/.vscode/
/.zed/

# Build files
/build/
/cmake*/
/out/
/*.dSYM/
/gltf/library.wasm
compile_commands.json

# exclude project files
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

# Test files
/data/
/*.log
/perf.data*
