# IDE integrations
/.idea/
/.vs/
/.vscode/

# Build files
/build/
/cmake-build-*/
/out/
/gltf/library.wasm

# exclude project files
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

# Test files
/data/
